body {
	background-color: #212121;
}

.container {
	text-align: center;
	font-family: Hasklig;
	font-size: 24px;
	color: #e0e0e0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

#pre-clock {

}

#clock {
	font-size: 36px;
}

#post-clock {

}